.movie__list {
  padding: 0 3rem 3rem 3rem;
}

.list__title {
  font-size: 1.75rem;
  margin: 2.5rem;
}

.list__cards {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
}

.searchContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.searchForm {
  display: flex;
  justify-content: space-around;
}
.searchForm button {
  margin-left: 1rem;
}

@media only screen and (max-width: 1100px) {
  .list__cards {
    display: flex;
  }
}
